*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    /* background-color: whitesmoke; */
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 30rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid rgb(235, 233, 233);
}

.info{
    width: 15rem;
    padding: 1rem;
    background-color: red;
}
